@page "/artists/{ArtistId:int}/{AlbumId:int}"
@using Musicio.Client.Album
@using Musicio.Client.Artist
@using Musicio.Client.Playlist
@using Musicio.Client.User
@using Musicio.Core.Models

@inject IAlbumService AlbumService
@inject IPlaylistService PlaylistService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager

@if (_loading)
{
    <div class="loading">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <h2>@_album.AlbumTitle</h2>
    <div class="artist-container">
        @if (_album.Image == null)
        {
            <div class="playlist-image-detail" style="background-image: url(images/StockImage.jpg)"></div>
        }
        else
        {
            <div class="playlist-image-detail" style="background-image: url(data:image/png;base64,@_album.Image)"></div>
        }
    </div>
    <table class="table table-hover">
        <tr><th>Title</th><th>Artist</th><th>Add song</th></tr>
        @foreach (var song in _album.Songs)
        {
            <tr>
                <td>@song.SongTitle</td>
                <td>@song.Artist</td>
                <td><span class="oi oi-ellipses" aria-hidden="true"></span></td>
                @*<td>
                        <form class="" id="" method="post" asp-controller="Playlist" asp-action="RemovePlaylistSong" asp-route-playlistid="@Model.PlaylistId" asp-route-songid="@s.PlaylistSongID">
                            <input type="submit" class="btn-danger" value="Remove song"/>
                        </form>
                    </td>*@
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public int ArtistId { get; set; }

    [Parameter]
    public int AlbumId { get; set; }

    private Album _album = new Album();
    private List<Playlist> _userPlaylists = new List<Playlist>();

    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        if (await SessionService.CheckIfTokenIsAvailable() == false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _album = await AlbumService.GetAlbumWithSongs(AlbumId);
        _userPlaylists = await PlaylistService.GetUserPlaylistNames(1);

        StateHasChanged();

        _loading = false;
    }
}
