@page "/artists/{ArtistId:int}/{AlbumId:int}"
@using Musicio.Client.Album
@using Musicio.Client.Artist
@using Musicio.Client.Playlist
@using Musicio.Client.Song
@using Musicio.Client.User
@using Musicio.Core.Models
@using Musicio.Client.Web.Components

@inject IAlbumService AlbumService
@inject IPlaylistService PlaylistService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager
@inject ISongService SongService

@if (_loading)
{
    <div class="loading">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <h2>@_album.AlbumTitle</h2>
    <div class="artist-container">
        @if (_album.Image == null)
        {
            <div class="playlist-image-detail" style="background-image: url(images/StockImage.jpg)"></div>
        }
        else
        {
            <div class="playlist-image-detail" style="background-image: url(@($"/album/images/{_album.Image}"))"></div>
        }
    </div>
    <Button Enabled="@_playable" Text="Play album" OnClick="@PlayAlbum"></Button>
    @if (_success)
    {
        <div class="alert alert-success">@_message</div>
    }
    @if (_error)
    {
        <div class="alert alert-danger">@_message</div>
    }
    <table class="table table-hover">
        <tr><th>Title</th><th>Artist</th><th>Add song</th></tr>
        @foreach (var song in _album.Songs)
        {
            <tr>
                <td>@song.SongTitle</td>
                <td>@song.Artist</td>
                <td>
                    <div class="dropdown">
                        <span class="oi oi-ellipses" aria-hidden="true"></span>
                        <div class="dropdown-content">
                            @foreach (var pl in _userPlaylists)
                            {
                                <a @onclick="@(() => AddSongToPlaylist(pl.Id, song.Id, song.SongTitle))">@pl.Title</a>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
}

@code {
    [Parameter]
    public int ArtistId { get; set; }

    [Parameter]
    public int AlbumId { get; set; }

    private Album _album = new Album();
    private List<Playlist> _userPlaylists = new List<Playlist>();

    private bool _playable;
    private bool _loading;
    private bool _error = false;
    private bool _success = false;
    private string _message;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        if (await SessionService.CheckIfTokenIsAvailable() == false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _album = await AlbumService.GetAlbumWithSongs(AlbumId);
        _userPlaylists = await PlaylistService.GetUserPlaylistNames();

        if (_album.Songs.Count != 0) _playable = true;

        StateHasChanged();

        _loading = false;
    }

    private async Task AddSongToPlaylist(int playlistId, int songId, string title)
    {
        var success = await PlaylistService.AddSongToPlaylist(playlistId, songId);

        if (success)
        {
            _error = false;
            _success = true;
            _message = title + " has successfully been added to the chosen playlist";
        }
        else
        {
            _error = true;
            _success = false;
            _message = "Something went wrong, please try again";
        }
    }

    private Task PlayAlbum()
    {
        SongService?.OnPlay(_album.Songs);

        return Task.CompletedTask;
    }
}
