@page "/login"
@using Musicio.Client.Authentication
@using Musicio.Client.Validation
@using Musicio.Client.Web.Components

@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService
@inject IValidationService ValidationService

@layout LoginLayout

@if (_isLogin)
{
    <Form Id="form-login">
        <FormGroup>
            <h2>Login</h2>
        </FormGroup>
        <FormGroup>
            <InputField Type="text" Placeholder="E-mail" OnChange="@OnMailChange" />
        </FormGroup>
        <FormGroup>
            <InputField Type="password" Placeholder="Password" OnChange="@OnPasswordChange" />
        </FormGroup>
        <FormGroup>
            <Button Enabled="@_buttonEnabled" Text="Login" OnClick="@LoginAsync"></Button>
        </FormGroup>
        <FormGroup>
            <Button Enabled="true" Text="Register new account" OnClick="@SwitchForm"></Button>
        </FormGroup>
        @if (!_loginSuccess)
        {
            <div class="alert alert-danger">
                @_errorMessage
            </div>
        }
    </Form>
}
else
{
    <Form Id="form-register">
        <FormGroup>
            <h2>Register</h2>
        </FormGroup>
        <FormGroup>
            <InputField Type="mail" Placeholder="E-mail" OnChange="@OnMailChange" />
        </FormGroup>
        <FormGroup>
            <InputField Type="text" Placeholder="Username" OnChange="@OnUsernameChange" />
        </FormGroup>
        <FormGroup>
            <InputField Type="password" Placeholder="Password" OnChange="@OnPasswordChange" />
        </FormGroup>
        <FormGroup>
            <InputField Type="password" Placeholder="Confirm Password" OnChange="@OnConfirmPasswordChange" />
        </FormGroup>
        <FormGroup>
            <Button Enabled="@_buttonEnabled" Text="Register" OnClick="@RegisterAsync"></Button>
        </FormGroup>
        <FormGroup>
            <Button Enabled="true" Text="Login to existing account" OnClick="@SwitchForm"></Button>
        </FormGroup>
        @if (!_registerSuccess)
        {
            <div class="alert alert-danger">
                @_errorMessage
            </div>
        }
        @*else
        {
            <div class="alert alert-success">
                @_errorMessage
            </div>
        }*@
    </Form>
}

@code {

    private bool _buttonEnabled;
    private bool _loginSuccess = true;
    private bool _registerSuccess = true;
    private string _errorMessage;

    private string _username;
    private string _password;
    private string _confirmPassword;
    private string _mail;

    private bool _isLogin = true;

    private async Task LoginAsync()
    {

        _loginSuccess = await AuthenticationService.Login(_mail, _password);

        if (_loginSuccess)
        {
            StateHasChanged();

            NavigationManager.NavigateTo("/");
        }
        else
        {
            _errorMessage = "Error logging in, make sure your credentials are correct.";
            StateHasChanged();
        }
    }

    private async Task RegisterAsync()
    {
        if (!_password.Equals(_confirmPassword))
        {
            _errorMessage = "Make sure your password match correctly.";
            _registerSuccess = false;

            StateHasChanged();
            return;
        }

        _registerSuccess = await AuthenticationService.Register(_mail, _username, _password);

        if (_registerSuccess)
        {
            _errorMessage = "Account has been successfully created, you can now login using your mail address.";
            _registerSuccess = true;
            StateHasChanged();
        }
        else
        {
            _errorMessage = "An account with the same mail address already exists, use another one.";
            _registerSuccess = false;
            StateHasChanged();
        }
    }

    private void ValidateInput()
    {
        if (_isLogin) _buttonEnabled = ValidationService.ValidateLoginInput(_mail, _password);
        else _buttonEnabled = ValidationService.ValidateRegisterInput(_username, _password, _confirmPassword, _mail);

        StateHasChanged();
    }

    private Task SwitchForm()
    {
        _isLogin = !_isLogin;

        StateHasChanged();

        return Task.CompletedTask;
    }

    public Task OnUsernameChange(string value)
    {
        _username = value;

        ValidateInput();

        return Task.CompletedTask;
    }

    public Task OnPasswordChange(string value)
    {
        _password = value;

        ValidateInput();

        return Task.CompletedTask;
    }

    public Task OnConfirmPasswordChange(string value)
    {
        _confirmPassword = value;

        ValidateInput();

        return Task.CompletedTask;
    }

    public Task OnMailChange(string value)
    {
        _mail = value;

        ValidateInput();

        return Task.CompletedTask;
    }
}