@page "/playlists/{PlaylistId:int}"
@using Musicio.Client.Playlist
@using Musicio.Client.Song
@using Musicio.Client.User
@using Musicio.Core.Models
@using Musicio.Client.Web.Components

@inject IPlaylistService PlaylistService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager
@inject ISongService SongService 

@if (_loading)
{
    <div class="loading">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <h2>@_playlist.Title</h2>
    <div class="artist-container">
        @if (_playlist.Image == null)
        {
            <div class="playlist-image-detail" style="background-image: url(images/StockImage.jpg)"></div>
        }
        else
        {
            <div class="playlist-image-detail" style="background-image: url(@($"/playlist/images/{_playlist.Image}"))"></div>
        }
    </div>
    <Button Enabled="true" Text="Play Playlist" OnClick="@PlayPlaylist"></Button>
    <table class="table table-hover">
        <tr><th>Title</th><th>Artist</th></tr>
        @foreach (var song in _playlist.Songs)
        {
            <tr>
                <td>@song.SongTitle</td>
                <td>@song.Artist</td>
                @*<td>
                        <form class="" id="" method="post" asp-controller="Playlist" asp-action="RemovePlaylistSong" asp-route-playlistid="@Model.PlaylistId" asp-route-songid="@s.PlaylistSongID">
                            <input type="submit" class="btn-danger" value="Remove song"/>
                        </form>
                    </td>*@
            </tr>
        }
    </table>
}



@code {
    [Parameter]
    public int PlaylistId { get; set; }

    private Playlist _playlist = new Playlist();

    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        if (await SessionService.CheckIfTokenIsAvailable() == false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _playlist = await PlaylistService.GetPlaylistSongs(PlaylistId);

        StateHasChanged();

        _loading = false;
    }

    private Task PlayPlaylist()
    {
        SongService?.OnPlay(_playlist.Songs);

        return Task.CompletedTask;
    }
}
