@page "/playlists/{PlaylistId:int}"
@using Musicio.Client.Playlist
@using Musicio.Client.User
@using Musicio.Core.Models

@inject IPlaylistService PlaylistService
@inject ISessionService SessionService
@inject NavigationManager NavigationManager

@if (_loading)
{
    <div class="loading">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    <h2>@_playlist.Title</h2>
    <div class="artist-container">
        <div class="playlist-image-detail" style="background-image: url(data:image/png;base64,@_playlist.Image)"></div>
    </div>
    <table class="table table-hover">
        <tr><th>Title</th><th>Artist</th></tr>
        @foreach (var song in _playlist.Songs)
        {
            <tr>
                <td>@song.SongTitle</td>
                <td>@song.Artist</td>
                @*<td>
                        <form class="" id="" method="post" asp-controller="Playlist" asp-action="RemovePlaylistSong" asp-route-playlistid="@Model.PlaylistId" asp-route-songid="@s.PlaylistSongID">
                            <input type="submit" class="btn-danger" value="Remove song"/>
                        </form>
                    </td>*@
            </tr>
        }
    </table>
}



@code {
    [Parameter]
    public int PlaylistId { get; set; }

    private Playlist _playlist = new Playlist();

    private bool _loading;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        if (await SessionService.CheckIfTokenIsAvailable() == false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        _playlist = await PlaylistService.GetPlaylistSongs(PlaylistId);

        StateHasChanged();

        _loading = false;
    }
}
